.header {
    width: 100%; 
    background-color: black; 
    position: fixed; 
    top: 0px; 
    z-index: 15; 
}

.header-title {
    font-family: 'Oswald', sans-serif;
    margin: 0px; 
    color: white; 
    padding: 20px 50px 25px; 
    font-size: 30px; 
}