<div class="nasa"> 
    <div class="global-container">
        <div class="nasa-flex">
            <div class="nasa-section-left nasa-flex-grey">
                <p class="global-header-lightback">Welcome!</p>
                <p class="global-paragraph-lightback">StarQuiz is an application for testing your 
                knowledge of the Solar System! Think you're a space expert? Try one of our free quizzes below!</p>
                <br /><br />
            </div>
            <div class="nasa-section-right nasa-flex-padding">
                <div class="nasa-title-container">
                    <p class="nasa-title">NASA Image of the Day</p>
                </div>
                <img class="nasa-title-container-end" src="assets/images/title-container-end.png" alt="graphic" />
                <img class="nasa-image" [src]="nasaImageUrl | async" />
            </div>
        </div>
    </div>
</div>