/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(70, 70, 70); 
  }
  
  .global-container {
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1500px; 
    width: 70%;
    padding: 70px 0px 80px; 
  }
  
  .global-center {
    text-align: center; 
  }
  
  /* TEXT FOR DARK BACKGROUNDS */
  
  .global-header-darkback {
    font-family: 'Oswald', sans-serif;
    margin: 0px; 
    color: white;  
    font-size: 30px; 
  }
  
  .global-paragraph-darkback {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px; 
    color: rgb(192, 192, 192); 
    font-size: 20px; 
    margin-top: 15px;
    line-height: 30px; 
  }
  
  .global-header-mini-darkback {
    font-family: 'Oswald', sans-serif;
    margin: 0px; 
    color: white;  
    font-size: 14px; 
  }
  
  .global-paragraph-mini-darkback {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px; 
    color: rgb(255, 255, 255); 
    font-size: 14px; 
    margin-top: 15px;
    line-height: 18px; 
  }
  
  
  /* TEXT FOR LIGHT BACKGROUNDS */
  
  .global-header-lightback {
    font-family: 'Oswald', sans-serif;
    margin: 0px; 
    color: rgb(74, 76, 90);  
    font-size: 30px; 
  }
  
  .global-paragraph-lightback {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px; 
    color: rgb(139, 139, 139); 
    font-size: 20px; 
    margin-top: 15px;
    line-height: 30px; 
  }
  
  /* TABLET STYLES */
  
  @media screen and (max-width: 850px) {
    .global-container {
        width: 80%; 
    }
  }
  
  
  